{% extends "base.html" %}

{% block content %}
    <h1>Build a Blog</h1>
    <hr />
    {% if blogs|length == 0 %}
    <p>No Blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.name}}
                <form method="POST" action="/delete-blog" style="display:inline-block;">
                    <input type="text" name="blog-id" value="{{blog.id}}" />
                    <input type='submit' value='done!' />
                    
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}