{% extends "base.html" %}

{% block content %}

<h1>New Blog</h1>
<form method='post' action='/new_post' >
    <label>
        Title for your new Blog:
        <br>
        <input type="text" name='title'/>
        <p class="error">{{title_error}}</p>
    </label>
    <br>

    <label>
        Your new entry:<br>
        <textarea rows='6' cols='40' type='text' name='blog'></textarea>
        <p class="error">{{body_error}}</p>
    </label>
    <br>
    <input type="submit" value='Add Blog' />
</form>




{% endblock %}